### Strapi
STRAPI_URL=https://strapi.monnom.mn
STRAPI_URL_IP=https://strapi.monnom.mn
PORT=3000

### Qpay
QPAY_MERCHANT_USERNAME=
QPAY_MERCHANT_PASSWORD=
QPAY_MERCHANT_INVOICE_NAME=
QPAY_MERCHANT=https://merchant.qpay.mn/v2/invoice
QPAY_MERCHANT_AUTHENTICATION=https://merchant.qpay.mn/v2/auth/token

# FCM
FCM_SERVER_KEY=