# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: self-hosted

    strategy:
      matrix:
        node-version: [15.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    # clear dotenv
    - run: rm -rf ./.env
      continue-on-error: true
      
    # env variables
    - run: echo STRAPI_URL=${{ secrets.STRAPI_URL }} >> .env
    - run: echo STRAPI_URL_IP=${{ secrets.STRAPI_URL_IP }} >> .env
    - run: echo PORT=${{ secrets.PORT }} >> .env
    - run: echo QPAY_MERCHANT_USERNAME=${{ secrets.QPAY_MERCHANT_USERNAME }} >> .env
    - run: echo QPAY_MERCHANT_PASSWORD=${{ secrets.QPAY_MERCHANT_PASSWORD }} >> .env
    - run: echo QPAY_MERCHANT_INVOICE_NAME=${{ secrets.QPAY_MERCHANT_INVOICE_NAME }} >> .env
    - run: echo QPAY_MERCHANT=${{ secrets.QPAY_MERCHANT }} >> .env
    - run: echo QPAY_MERCHANT_AUTHENTICATION=${{ secrets.QPAY_MERCHANT_AUTHENTICATION }} >> .env
    - run: echo FCM_SERVER_KEY=${{ secrets.FCM_SERVER_KEY }} >> .env
    
    # install dependencies
    - run: npm i

    # run app
    - run: pm2 delete monnom-express
      continue-on-error: true
    - run: pm2 save --force
      continue-on-error: true
    - run: pm2 start start.sh --name monnom-express --exp-backoff-restart-delay=100
